@import "./base.css";

#app {
  min-height: 100vh;
}

a {
  color: #4338ca;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
}

textarea,
input {
  font-family: inherit;
}

main {
  width: 100%;
}
